h1 {
  text-align: center;
  color: #324a5f;
  font-size: 250%;
}

h2 {
  color: #374340;
}

body {
  background-color: #ccc9dc;
}
p {
  color: #1b2a41;
}
ul li {
  color: #1b2a41;
}
ul {
  list-style-type: circle;
}

a:link {
  color: #1b2a41;
}
a:visited {
  color: #362033;
}
.link {
  color: #70587c;
}

